<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>

    <add key="IsAppClosable" value="1"/>
    <!--IP AND SOCKET AGENT-->
    <add key="LISTENING_IP" value="127.0.0.1"/>
    <add key="LISTENING_PORT" value="4000"/>

    <!--IP AND SOCKET ECR/EDC TERMINAL 192.168.0.210:7500-->
    <!--<add key="IP_TERMINAL" value="192.168.0.199:8888"/> maybank-->
    
    <!-- NETS ECR3
    <add key="IP_TERMINAL" value="192.168.0.28"/>
    <add key="PORT_TERMINAL" value="443"/>
    -->
    
    <!--NETS
    <add key="IP_TERMINAL" value="192.168.0.210"/>
    <add key="PORT_TERMINAL" value="7500"/>
    -->
    
     <!--UOB
    <add key="IP_TERMINAL" value="192.168.0.27"/>
    <add key="PORT_TERMINAL" value="7500"/>
    -->
    
    <!--OCBC-->
    <add key="IP_TERMINAL" value="127.0.0.1"/>
    <add key="PORT_TERMINAL" value="80"/>
    
    
    <!--MAYBANK
    <add key="IP_TERMINAL" value="192.168.0.199"/>
    <add key="PORT_TERMINAL" value="8888"/>
    -->

    <!--
    <add key="IP_TERMINAL" value="192.168.0.27"/>
    <add key="PORT_TERMINAL" value="7500"/>
    -->
   
    
    <!--VENDOR NAME / PAYMENT OPTION / BANK-->
    <add key="PAYMENT_VENDOR" value="NETTS"/>
    <!--ECR TYPE 1:NETTS,BCA,OCBC,UOB 2.NETTSECR2-->
    <add key="ECR_TYPE" value="2"/>

    <!--FILL DEBUG FOR CONSOLE,SERVICES FOR RUN AS SERVICE-->
    <add key="RUN_MODE" value="DEBUG"/>
    <add key="SERVICE_NAME" value="PAYMENTMANAGER"/>


    <!--LABELING TERMINAL-->
    <add key="PAYMENT_TERMINAL" value="TERMINAL 1"/>

    <add key="MERCHANT_ID" value="000027003418043"/>
    <add key="TERMINAL_ID" value="111351500000"/>
    <add key="DEBUG" value="0"/>

    <!--IF TRUE CENT WILL STILL CAPTURE IF FALSE CENT WILL BE REMOVED-->
    <add key="CENT" value="TRUE"/>

    <!--IF TRUE MEAN THIS AGENT NEED CONNECTION TO LOCAL DB IF FALSE NO NEED CONNECTION-->
    <add key="DB_REQUIRED" value="false"/>

    <!--IS REQUIRED IF PARAMETER DB_REQUIRED IS TRUE-->
    <add key="DB_NAME" value="emenu"/>
    <add key="DB_USER" value="root"/>

    <!-- FILL THE PROJECT / OUTLET NAME -->
    <add key="PROJECT_NAME" value="TERMINAL INTEGRATION"/>

  </appSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
  <system.net>
    <defaultProxy>
      <!--<proxy autoDetect="false" bypassonlocal="false" proxyaddress="http://127.0.0.1:8888" usesystemdefault="false" />-->
    </defaultProxy>
  </system.net>
  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="System.Net" maxdatasize="9999" tracemode="protocolonly">
        <listeners>
          <add name="TraceFile"/>
        </listeners>
      </source>
      <source name="System.Net.Sockets" maxdatasize="9999" tracemode="protocolonly">
        <listeners>
          <add name="TraceFile"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="TraceFile" type="System.Diagnostics.TextWriterTraceListener" initializeData="trace.log" traceOutputOptions="None"/>
    </sharedListeners>
    <switches>
      <!--
      <add name="System.Net.Sockets" value="Verbose"/>-->
      <add name="System.Net" value="Verbose"/>
      <add name="System.Web.Services.Asmx" value="Verbose"/>
    </switches>
  </system.diagnostics>
  <system.web>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="65001" culture="en-US" uiCulture="en-US"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory,MySql.Data"/>
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="eMenuEntities" connectionString="metadata=res://*/DB.csdl|res://*/DB.ssdl|res://*/DB.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;persistsecurityinfo=True;database=SoupSpoon&quot;" providerName="System.Data.EntityClient"/>
    <add name="eMenuEntities1" connectionString="metadata=res://*/DB.csdl|res://*/DB.ssdl|res://*/DB.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;persistsecurityinfo=True;database=soupspoon&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>
